<% include header %>
  <h1><%- title %></h1>
  <form action="/video/upload" class="dropzone">
    <div class="fallback">
      <input name="file" type="file" multiple />
    </div>
  </form>
<% include footer %>
